[Unit]
Description=Home Automation Device Registry Service

[Service]
Environment=APP_CONFIG_FILE=/home/pi/home-automation/home-automation-device-registry/config/production.py
Type=idle
ExecStart=/home/pi/home-automation/home-automation-device-registry/env/bin/python \
/home/pi/home-automation/home-automation-device-registry/run.py \
> /home/pi/home-automation/logs/device-registry.log 2>&1

[Install]
WantedBy=multi-user.target
