[Unit]
Description=Home Automation Device Registry Service

[Service]
Environment=PROJECT_HOME=/home/pi/home-automation/home-automation-device-registry
Environment=LOGS_DIR=/home/pi/home-automation/logs
Environment=APP_CONFIG_FILE=${PROJECT_HOME}/config/production.py
Type=idle
ExecStart=${PROJECT_HOME}/env/bin/python ${PROJECT_HOME}/run.py > ${LOGS_DIR}/device-registry.log 2>&1

[Install]
WantedBy=multi-user.target
